*.iml
.gradle
/local.properties
/.idea
.idea
.env
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.deepseek
app/terminal_history.txt
修复方案.md
app/src/androidTest/
app/src/test/*
!app/src/test/java/
app/src/test/java/*
!app/src/test/java/github/
app/src/test/java/github/*
!app/src/test/java/github/zerorooot/
app/src/test/java/github/zerorooot/*
!app/src/test/java/github/zerorooot/nap511/
app/src/test/java/github/zerorooot/nap511/*
!app/src/test/java/github/zerorooot/nap511/terminal/
app/release/
.artifacts
.proxyai
lib/
/skills
